{{define "nav-main"}}
<nav> 
	<ul>
		<li><a href="/index">INDEX</a>
		<li><a href="/about">ABOUT</a>
		<li><a href="/contact">CONTACT</a>
		<li><a href="/apply">APPLY</a>
	</ul>
</nav>
{{end}}